<section class="events-section">
  <div class="container">
    <div class="events-section__wrapper">
      <div class="eventsInfo">
        <div class="d-flex gap-1 align-items-center flex-wrap">
          <h3 class="h1 titleDecore text-light">UPCOMING EVENTS</h3>
          <div class="d-none d-md-block">
            <img
              src="images/ico/events.svg"
              width="40"
              height="28"
              class="object-fit-contain"
              alt=""
            />
          </div>
        </div>
        <div class="eventsInfo__date text-light mt-1">2025–2027</div>
        <a href="#" class="btn btn-primary mt-40 text-lg fw-medium">
          Past events {% include "@images/chevron-right.svg" %}
        </a>
      </div>
      <ul class="eventsSlider">
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                src="images/content/event-2.png"
                alt="Masters Bermuda"
                width="132"
                height="132"
              />
              <h4 class="h3">2025 Men's Masters World Championship</h4>
            </a>
            <div class="eventsSlider__item-footer">
              November 11–16, 2025
              <a href="#" class="btn btn-stroke mt-12"
                >Detail {% include "@images/chevron-right.svg" %}</a
              >
            </div>
          </div>
        </li>
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                src="images/content/event-bratislava.png"
                alt="Masters Bratislava"
                width="132"
                height="132"
              />
              <h4 class="h3">2025 Women's Masters World Championship</h4>
            </a>
            <div class="eventsSlider__item-footer">
              November 13–16, 2025

              <a href="#" class="btn btn-stroke mt-12"
                >Detail {% include "@images/chevron-right.svg" %}</a
              >
            </div>
          </div>
        </li>
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                src="images/content/event-3.png"
                alt="MS Ostrava"
                width="132"
                height="132"
              />
              <h4 class="h3">2026 Men's & Women's World Championship</h4>
            </a>
            <div class="eventsSlider__item-footer">
              June 20–28, 2026
              <a href="#" class="btn btn-stroke mt-12"
                >Detail {% include "@images/chevron-right.svg" %}</a
              >
            </div>
          </div>
        </li>
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                src="images/content/event-banska.svg"
                alt="Junioři Banská Bystrica"
                width="132"
                height="132"
              />
              <h4 class="h3">2026 U18 & U16 Men's World Championship</h4>
            </a>
            <div class="eventsSlider__item-footer">
              July 2–6, 2025
              <a href="#" class="btn btn-stroke mt-12"
                >Detail {% include "@images/chevron-right.svg" %}</a
              >
            </div>
          </div>
        </li>
        <!-- Junioři Sheffield -->
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                src="images/content/event-sheffield.png"
                alt="Junioři Sheffield"
                width="132"
                height="132"
              />
              <h4 class="h3">2026 U16 Women's World Championship</h4>
            </a>
            <div class="eventsSlider__item-footer">
              June 20–28, 2026
              <a href="#" class="btn btn-stroke mt-12"
                >Detail {% include "@images/chevron-right.svg" %}</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
