<section class="events-section">
  <div class="container">
    <div class="events-section__wrapper">
      <div class="eventsInfo">
        <div class="d-flex gap-1 align-items-center flex-wrap">
          <h3 class="h1 titleDecore text-light">UPCOMING EVENTS</h3>
          <div class="d-none d-md-block">
            {% include "@images/events.svg" %}
          </div>
        </div>
        <div class="eventsInfo__date text-light mt-1">2025–2027</div>
        <a href="#" class="btn btn-primary mt-40 text-lg fw-medium">
          Past events {% include "@images/chevron-right.svg" %}
        </a>
      </div>
      <ul class="eventsSlider">
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-1.png"
                sizes="
                (min-width: 132px) 132w
              "
                width="132"
                height="132"
              />
              <h4 class="h3">
                U20 Men’s <br />
                U20 Women’s
              </h4>
            </a>

            <div class="eventsSlider__item-footer">
              July 2–6, 2025

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-2.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">35+ Masters</h4>
            </a>

            <div class="eventsSlider__item-footer">
              November 11–16, 2025
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-3.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">Men’s & Women’s</h4>
            </a>

            <div class="eventsSlider__item-footer">
              June 20–28, 2026

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-1.png"
                sizes="
                (min-width: 132px) 132w
              "
                width="132"
                height="132"
              />
              <h4 class="h3">
                U20 Men’s <br />
                U20 Women’s
              </h4>
            </a>

            <div class="eventsSlider__item-footer">
              July 2–6, 2025
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-2.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">35+ Masters</h4>
            </a>

            <div class="eventsSlider__item-footer">
              November 11–16, 2025
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="eventsSlider__item">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-3.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">Men’s & Women’s</h4>
            </a>

            <div class="eventsSlider__item-footer">
              June 20–28, 2026
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
