<section class="statistics-section">
  <div class="container">
    <h2 class="h1 mb-4">Statistiky</h2>
    <form class="menuFilter mb-40">
      <label class="o-select mb-12 d-block">
        <select class="js-select">
          <option>All teams</option>
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
        </select>
      </label>
      <ul class="menuCategories mb-0" role="tablist">
        <li>
          <button
            name="category"
            value="all"
            class="active"
            role="tab"
            aria-selected="true"
          >
            All
          </button>
        </li>
        <li>
          <button name="category" value="1" role="tab">Goalkeepers</button>
        </li>
        <li>
          <button name="category" value="2" role="tab">Outfield Players</button>
        </li>
        <li>
          <button name="category" value="3" role="tab">Defenders</button>
        </li>
        <li>
          <button name="category" value="4" role="tab">Forwards</button>
        </li>
      </ul>
    </form>

    <div class="statistics-section__inner">
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th class="text-center"><strong>#</strong></th>
              <th></th>
              <th><strong>Name</strong></th>
              <th class="text-center"><strong>POST</strong></th>
              <th class="text-center"><strong>GP</strong></th>
              <th class="text-center"><strong>G</strong></th>
              <th class="text-center"><strong>A</strong></th>
              <th class="text-center"><strong>PPG</strong></th>
              <th class="text-center"><strong>SHG</strong></th>
              <th class="text-center"><strong>PIM</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>

              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>

              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>

              <td><strong>22</strong></td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>

              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>

              <td><strong>22</strong></td>
              <td>22</td>
              <td>54</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
