<section class="statistics-section">
  <div class="container">
    <h2 class="h1 mb-4">Statistics</h2>
    <form class="menuFilter mb-40">
      <label class="o-select mb-12 d-block">
        <select class="js-select">
          <option>All teams</option>
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
        </select>
      </label>
      <ul class="menuCategories mb-0" role="tablist">
        <li>
          <button
            name="category"
            value="all"
            class="active"
            role="tab"
            aria-selected="true"
          >
            All
          </button>
        </li>
        <li>
          <button name="category" value="1" role="tab">Goalkeepers</button>
        </li>
        <li>
          <button name="category" value="2" role="tab">Outfield Players</button>
        </li>
        <li>
          <button name="category" value="3" role="tab">Defenders</button>
        </li>
        <li>
          <button name="category" value="4" role="tab">Forwards</button>
        </li>
      </ul>
    </form>

    <div class="statistics-section__inner">
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th class="text-center fw-semibold">#</th>
              <th></th>
              <th class="fw-semibold">Name</th>
              <th class="text-center fw-semibold">POST</th>

              <th class="text-center fw-semibold">GP</th>
              <th class="text-center fw-semibold">G</th>
              <th class="text-center fw-semibold">A</th>
              <th class="text-center fw-bold">P</th>
              <th class="text-center fw-semibold">PPG</th>
              <th class="text-center fw-semibold">SHG</th>
              <th class="text-center fw-semibold">PIM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>24</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748342449_Sima.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/5_1749747939_czech.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Petr Šíma</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>4</td>
              <td>3</td>
              <td><strong>7</strong></td>
              <td>4</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>88</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748341261_Kubicek.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/5_1749747939_czech.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Martin Kubíček</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>3</td>
              <td>3</td>
              <td><strong>6</strong></td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>7</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749194683_oli stu.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Oliver Stümpel</a>
              </td>
              <td>DE</td>

              <td>3</td>
              <td>0</td>
              <td>5</td>
              <td><strong>5</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>13</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399516_ColeDupperreault.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Cole Dupperreault</a
                >
              </td>
              <td>FW</td>

              <td>2</td>
              <td>4</td>
              <td>1</td>
              <td><strong>5</strong></td>
              <td>4</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>7</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748402161_Jason Granitto.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Jason Grannitto</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td><strong>5</strong></td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>4</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399326_CarterLongland.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Carter Longland</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>1</td>
              <td>3</td>
              <td><strong>4</strong></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>28</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399865_NoahWebster.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Noah Webster</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>1</td>
              <td>3</td>
              <td><strong>4</strong></td>
              <td>1</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>12</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749194339_10907.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Jozef Šechný</a>
              </td>
              <td>DE</td>

              <td>3</td>
              <td>1</td>
              <td>2</td>
              <td><strong>3</strong></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>10</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749195042_9769.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Adam Belák</a>
              </td>
              <td>DE</td>

              <td>3</td>
              <td>1</td>
              <td>2</td>
              <td><strong>3</strong></td>
              <td>1</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>44</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4591_1749264486_WylieBirkettNEW.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Wylie Birkett</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>1</td>
              <td>2</td>
              <td><strong>3</strong></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>55</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749194477_10866.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Martin Dubeň</a>
              </td>
              <td>DE</td>

              <td>3</td>
              <td>0</td>
              <td>2</td>
              <td><strong>2</strong></td>
              <td>0</td>
              <td>0</td>
              <td>8</td>
            </tr>
            <tr>
              <td><strong>92</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749195143_10859.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Maximilián Mikula</a
                >
              </td>
              <td>DE</td>

              <td>3</td>
              <td>0</td>
              <td>2</td>
              <td><strong>2</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>6</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749195771_5740.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">René Marek</a>
              </td>
              <td>FW</td>

              <td>3</td>
              <td>0</td>
              <td>2</td>
              <td><strong>2</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>82</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4290_1750511761_image0.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/5_1749747939_czech.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Jan Matoušek</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>2</td>
              <td><strong>2</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>25</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399865_JagpalPhangura.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Jagjeevan Phangura</a
                >
              </td>
              <td>FW</td>

              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td><strong>2</strong></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>73</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399865_OwenWeihs.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Owen Weihs</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td><strong>2</strong></td>
              <td>2</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>91</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399865_BenFontaine.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Ben Fontaine</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td><strong>2</strong></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>33</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4590_1749264719_Kieran Burke.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Kieran Burke</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>2</td>
              <td><strong>2</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>67</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748402161_Jack Oleksiuk.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Jack Oleksiuk</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td><strong>2</strong></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>79</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748448558_EthanMatchim.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Ethan Matchim</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>1</td>
              <td><strong>1</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>17</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4616_1749265306_DavinGriffin.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Davin Griffin</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>1</td>
              <td><strong>1</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>71</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4618_1749874150_JustinShellborn.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Justin Shellborn</a
                >
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>1</td>
              <td><strong>1</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>11</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749195227_10504.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Miloš Chmelko</a>
              </td>
              <td>DE</td>

              <td>3</td>
              <td>1</td>
              <td>0</td>
              <td><strong>1</strong></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>91</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1746789703_OHM.png"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/11_1749748045_greatbritain.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Oliver Hemmings-Maher</a
                >
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>1</td>
              <td><strong>1</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>11</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399516_AdamPinksen.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Adam Pinksen</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>1</td>
              <td>0</td>
              <td><strong>1</strong></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>21</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399865_NickBlagden.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Nick Blagden</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>1</td>
              <td><strong>1</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>22</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399865_BrockKrulicki.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Brock Krulicki</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>1</td>
              <td><strong>1</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>10</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4589_1749264546_FraserLock_NEW.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Fraser Lock</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>1</td>
              <td>0</td>
              <td><strong>1</strong></td>
              <td>1</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>18</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4617_1749264851_Mason Engele.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Mason Engele</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>7</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749150961_Zaydan.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Zaydan Mateusz Hicks-Rudnicki</a
                >
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>6</td>
            </tr>
            <tr>
              <td><strong>42</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749195636_10196.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Lukáš Amrich</a>
              </td>
              <td>FW</td>

              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>18</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1749561038_1178.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/6_1749748235_slovakia.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Vladimír Jankůj</a>
              </td>
              <td>FW</td>

              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>27</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1746788415_ED.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/11_1749748045_greatbritain.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Ethan Daintith</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>10</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4428_1747418051_2639a8a3-b4ac-4188-b6d4-f2fd03885da2.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/11_1749748045_greatbritain.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Bartoloměj Novotný</a
                >
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>12</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1746790793_IMG_3598.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/11_1749748045_greatbritain.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Rhys Stenhouse</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>94</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747076798_J. Rhoades.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/3_1749748326_usa.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Jack Rhoades</a>
              </td>
              <td>FW</td>

              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>9</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747257507_Aleksan.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Aleksan Berberyan</a
                >
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>91</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747257576_JACOB.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Jacob Arlindo Sullivan Aragao</a
                >
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>34</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747257781_Luca.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Luca Francesco Castro</a
                >
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>4</td>
            </tr>
            <tr>
              <td><strong>6</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747321040_Nathan.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Nathan Aragao</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>58</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747663634_Daniel H.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Daniel Hadjian</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>4</td>
            </tr>
            <tr>
              <td><strong>92</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747669306_PETER A.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Panagiotis Angelopoulos</a
                >
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>45</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4448_1750503339__1747672280_Seber.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Seber Moustafa</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>11</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747674743_Yianni.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Yianni Papapanagiotou</a
                >
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>27</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747678968_Andreas Arko.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Andreas Arkolakis</a
                >
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>98</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747679038_Zachary.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Zachary Giosi</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>77</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747703561_Screenshot_20250519_210441_Gallery.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Alexi Gravel</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>29</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1747703671_Screenshot_20250519_211335_Gallery.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >George Katsifolis</a
                >
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>43</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/4481_1750604931_Nathan Parent.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Nathan Parent</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>63</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748029144_Sasha.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Sasha Petreccia</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <td><strong>14</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748029144_James.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/53_1750847375_un_logo.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">James Guergis</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>4</td>
            </tr>
            <tr>
              <td><strong>29</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748341512_Patera.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/5_1749747939_czech.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Lukáš Patera</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>3</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399325_ZacharyCorreia.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Zac Correia</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>9</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399516_Alec Pettingale.jpg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Alec Pettingale</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>19</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399516_AaronCampbell.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Aaron Campbell</a>
              </td>
              <td>FW</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>24</strong></td>
              <td>
                <div class="avatar">
                  <img
                    src="https://stats.isbhf.com/upload/player/photo/_1748399865_JacobDuggan.jpeg"
                    alt=""
                  />
                  <span class="state"
                    ><img
                      src="https://stats.isbhf.com/upload/team/logo_mobile/4_1747152536_canada.png"
                      alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Jacob Duggan</a>
              </td>
              <td>DE</td>

              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td><strong>0</strong></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
