<div
  class="modal fade fameModal"
  id="fameModal"
  tabindex="-1"
  aria-labelledby="fameModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <img src="images/ico/close.svg" alt="x" />
      </button>
      <div class="modal-body">
        <div class="fameModal__header">
          <div class="fameModal__ava">
            <img
              class="object-fit-cover"
              srcset="images/content/fame-item.png 88w"
              sizes="
                        (min-width: 88px) 88w
                      "
              width="88"
              height="88"
              alt=""
            />
          </div>
          <div class="">
            <h5 class="h2 mb-2">Jonáš Meduna</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <div class="fameItem__category text-sm">Builder</div>
              </li>
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />
                20. 4. 1990
              </li>
              <li>Goalkeeper</li>
            </ul>
          </div>
        </div>
        <p class="mb-3">
          Following the official bid, Bermuda has been approved as the host of
          the Masters World Championship during the November ISBHF 2024
          Semi-Annual Conference.
        </p>
        <p>
          Following the official bid, Bermuda has been approved as the host of
          the Masters World Championship during.
        </p>
      </div>
    </div>
  </div>
</div>
