<section class="table-section">
  <div class="container">
    <h2 class="h1 mb-4">Standings</h2>
    <form class="menuFilter mb-40">
      <ul class="menuCategories mb-0" role="tablist">
        <li>
          <button
            name="category"
            value="all"
            class="active"
            role="tab"
            aria-selected="true"
          >
            Group A
          </button>
        </li>
        <li>
          <button name="category" value="1" role="tab">Group B</button>
        </li>
        <li>
          <button name="category" value="2" role="tab">Group C</button>
        </li>
      </ul>
    </form>
    <div class="o-content">
      <table>
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>
              <a class="team fw-semibold" href="#"> State </a>
            </th>
            <th>
              <a href="#"> </a>
            </th>
            <th>
              <a href="#">Z</a>
            </th>
            <th>
              <a>V</a>
            </th>
            <th>
              <a href="#">VP</a>
            </th>
            <th>
              <a href="#">PP</a>
            </th>
            <th>
              <a href="#">P</a>
            </th>
            <th>
              <a href="#"> Score</a>
            </th>
            <th>
              <a href="#"><strong>B</strong></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/ico/cz.svg" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
