.infoBoard {
  padding: 40px 0;
  position: relative;
  background-color: #0051a2;
  overflow: hidden;
  &__logo {
    object-fit: contain;
  }
  .nav-tabs {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 18px;
    border-bottom: none;
  }
  .nav-link.active {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    color: var(--color-light);
  }
  .nav-link {
    color: var(--color-light);
    font-size: 16px;
    line-height: 24px;
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid var(--color-light);
    cursor: pointer;
    margin: 0;
  }
}

.matchesAfter {
  margin: 0 -12px;
  li {
    padding: 0 12px;
  }
  .matchesLive__btn {
    background-color: var(--color-red);
  }
  .matchItem__result {
    font-size: 12px;
  }
}

.infoBoard.infoBoard--bermuda {
  background-color: #0b2c5d;
  .statsBox .nav-link.active {
    border: 1px solid #ed0180;
  }
  .matchItem__tags li + li:before {
    color: #ed0180;
  }
  #nav-tab .nav-link.active {
    background-color: #ed0180;
    border: 0.0625rem solid #ed0180;
  }
  .matchesLive__btn {
    background: #ed0180;
  }
  .matchesLive__btn.slick-disabled {
    background: rgba(#ed0180, 0.8);
  }
  .btn.btn-red {
    background: #ed0180;
    color: #fff;
  }

  .btn.btn-red:hover {
    border-color: #ed0180;
    color: #ed0180;
    background-color: var(--color-light);
    path {
      fill: #ed0180;
    }
  }
  .statsBox__title svg path {
    fill: #ed0180;
  }
}
.infoBoard.infoBoard--bratislava {
  background-color: #cc2e0c;
  .statsBox .nav-link.active {
    border: 1px solid #2a2d34;
  }
  .matchItem__tags li + li:before {
    color: #2a2d34;
  }
  #nav-tab .nav-link.active {
    background-color: #2a2d34;
    border: 0.0625rem solid #2a2d34;
  }
  .matchesLive__btn {
    background: #2a2d34;
  }
  .matchesLive__btn.slick-disabled {
    background: rgba(#2a2d34, 0.8);
  }
  .btn.btn-red {
    background: #2a2d34;
    color: #fff;
  }

  .btn.btn-red:hover {
    border-color: #2a2d34;
    color: #2a2d34;
    background-color: var(--color-light);
    path {
      fill: #2a2d34;
    }
  }
  .statsBox__title svg path {
    fill: #2a2d34;
  }
}
.infoBoard.infoBoard--ostrava {
  background-color: #1f3980;
  .statsBox .nav-link.active {
    border: 1px solid #da001a;
  }
  .matchItem__tags li + li:before {
    color: #da001a;
  }
  #nav-tab .nav-link.active {
    background-color: #da001a;
    border: 0.0625rem solid #da001a;
  }
  .matchesLive__btn {
    background: #da001a;
  }
  .matchesLive__btn.slick-disabled {
    background: rgba(#da001a, 0.8);
  }
  .btn.btn-red {
    background: #da001a;
    color: #fff;
  }

  .btn.btn-red:hover {
    border-color: #da001a;
    color: #da001a;
    background-color: var(--color-light);
    path {
      fill: #da001a;
    }
  }
  .statsBox__title svg path {
    fill: #da001a;
  }
}
.infoBoard.infoBoard--banska {
  background-color: #9f0000;
  .statsBox .nav-link.active {
    border: 1px solid #0b3954;
  }
  .matchItem__tags li + li:before {
    color: #0b3954;
  }
  #nav-tab .nav-link.active {
    background-color: #0b3954;
    border: 0.0625rem solid #0b3954;
  }
  .matchesLive__btn {
    background: #0b3954;
  }
  .matchesLive__btn.slick-disabled {
    background: rgba(#0b3954, 0.8);
  }
  .btn.btn-red {
    background: #0b3954;
    color: #fff;
  }

  .btn.btn-red:hover {
    border-color: #0b3954;
    color: #0b3954;
    background-color: var(--color-light);
    path {
      fill: #0b3954;
    }
  }
  .statsBox__title svg path {
    fill: #0b3954;
  }
}
.infoBoard.infoBoard--sheffield {
  background-color: #0c2a49;
  .statsBox .nav-link.active {
    border: 1px solid #ca2123;
  }
  .matchItem__tags li + li:before {
    color: #ca2123;
  }
  #nav-tab .nav-link.active {
    background-color: #ca2123;
    border: 0.0625rem solid #ca2123;
  }
  .matchesLive__btn {
    background: #ca2123;
  }
  .matchesLive__btn.slick-disabled {
    background: rgba(#ca2123, 0.8);
  }
  .btn.btn-red {
    background: #ca2123;
    color: #fff;
  }

  .btn.btn-red:hover {
    border-color: #ca2123;
    color: #ca2123;
    background-color: var(--color-light);
    path {
      fill: #ca2123;
    }
  }
  .statsBox__title svg path {
    fill: #ca2123;
  }
}
