.infoBoard {
  padding: 40px 0;
  position: relative;
  background-color: #0051a2;
  // background-color: #2c2c2c;
  overflow: hidden;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background-image: url("../images/content/board-bg.png");
  //   background-size: contain;
  //   width: 100%;
  //   height: 100%;
  //   background-repeat: no-repeat;
  //   background-position: center bottom;
  //   margin: 0 auto;
  // }

  &__logo {
    object-fit: contain;
  }
  .nav-tabs {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 18px;
    border-bottom: none;
  }
  .nav-link.active {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    color: var(--color-light);
  }
  .nav-link {
    color: var(--color-light);
    font-size: 16px;
    line-height: 24px;
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid var(--color-light);
    cursor: pointer;
    margin: 0;
  }
}

.matchesAfter {
  margin: 0 -12px;
  li {
    padding: 0 12px;
  }
  .matchesLive__btn {
    background-color: var(--color-red);
  }
  .matchItem__result {
    font-size: 12px;
  }
}

.event--bermuda {
  background-color: #0b2c5d;
  .eventsSlider__item-footer,
  .btn,
  h4 {
    color: #ed0180;
  }
  .btn-stroke {
    border-color: #ed0180;
    background: #ed0180;
    color: #fff;
    svg path {
      fill: #fff;
    }
  }
  .btn-stroke:hover {
    background: transparent;
    color: #ed0180;
    svg path {
      fill: #ed0180;
    }
  }
}

.event--bratislava {
  background-color: #cc2e0c;
  .eventsSlider__item-footer,
  .btn,
  h4 {
    color: #2a2d34;
  }
  .btn-stroke {
    border-color: #2a2d34;
    background: #2a2d34;
    color: #fff;
    svg path {
      fill: #fff;
    }
  }
  .btn-stroke:hover {
    background: transparent;
    color: #2a2d34;
    svg path {
      fill: #2a2d34;
    }
  }
}

.event--ostrava {
  background-color: #1f3980;
  .eventsSlider__item-footer,
  .btn,
  h4 {
    color: #da001a;
  }
  .btn-stroke {
    border-color: #da001a;
    background: #da001a;
    color: #fff;
    svg path {
      fill: #fff;
    }
  }
  .btn-stroke:hover {
    background: transparent;
    color: #da001a;
    svg path {
      fill: #da001a;
    }
  }
}

.event--banska {
  background-color: #9f0000;
  .eventsSlider__item-footer,
  .btn,
  h4 {
    color: #0b3954;
  }
  .btn-stroke {
    border-color: #0b3954;
    background: #0b3954;
    color: #fff;
    svg path {
      fill: #fff;
    }
  }
  .btn-stroke:hover {
    background: transparent;
    color: #0b3954;
    svg path {
      fill: #0b3954;
    }
  }
}

.event--sheffield {
  background-color: #0c2a49;
  .eventsSlider__item-footer,
  .btn,
  h4 {
    color: #ca2123;
  }
  .btn-stroke {
    border-color: #ca2123;
    background: #ca2123;
    color: #fff;
    svg path {
      fill: #fff;
    }
  }
  .btn-stroke:hover {
    background: transparent;
    color: #ca2123;
    svg path {
      fill: #ca2123;
    }
  }
}
