<section class="topstory">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-7"></div>
      <div class="col-lg-5">
        <article class="newsItem">
          <div class="d-flex gap-4">
            <a href="#" class="newsItem__img">
              <img
                srcset="
                  https://picsum.photos/600/440 600w,
                  https://picsum.photos/302/220 302w
                "
                width="302"
                height="220"
                loading="lazy"
                alt="post"
              />
            </a>
            <div class="newsItem__content">
              <ul class="tags text-primary text-sm mb-12">
                <li>{% include "@images/isbhf-world.svg" %} News</li>
                <li>November 17, 2024</li>
              </ul>
              <h2 class="text-lg fw-medium mb-2">
                2024 ISBHF Men’s World Championsip – Recap
              </h2>
              <p class="mb-12 text-primary">
                Following the official bid, Bermuda has been approved as the
                host of the Masters World Championship during the November ISBHF
                2024 Semi-Annual Conference.
              </p>
              <a href="#" class="btn btn-stroke">
                More {% include "@images/chevron-right.svg" %}</a
              >
            </div>
          </div>
        </article>

        <article class="newsItem">
          <div class="d-flex gap-4">
            <a href="#" class="newsItem__img">
              <img
                srcset="
                  https://picsum.photos/600/440 600w,
                  https://picsum.photos/302/220 302w
                "
                width="302"
                height="220"
                loading="lazy"
                alt="post"
              />
            </a>
            <div class="newsItem__content">
              <ul class="tags text-primary text-sm mb-12">
                <li>{% include "@images/isbhf-world.svg" %} News</li>
                <li>November 17, 2024</li>
              </ul>
              <h2 class="text-lg fw-medium mb-2">
                2024 ISBHF Men’s World Championsip – Recap
              </h2>
              <p class="mb-12 text-primary">
                Following the official bid, Bermuda has been approved as the
                host of the Masters World Championship during the November ISBHF
                2024 Semi-Annual Conference.
              </p>
              <a href="#" class="btn btn-stroke">
                More {% include "@images/chevron-right.svg" %}</a
              >
            </div>
          </div>
        </article>

        <article class="newsItem">
          <div class="d-flex gap-4">
            <a href="#" class="newsItem__img">
              <img
                srcset="
                  https://picsum.photos/600/440 600w,
                  https://picsum.photos/302/220 302w
                "
                width="302"
                height="220"
                loading="lazy"
                alt="post"
              />
            </a>
            <div class="newsItem__content">
              <ul class="tags text-primary text-sm mb-12">
                <li>{% include "@images/isbhf-world.svg" %} News</li>
                <li>November 17, 2024</li>
              </ul>
              <h2 class="text-lg fw-medium mb-2">
                2024 ISBHF Men’s World Championsip – Recap
              </h2>
              <p class="mb-12 text-primary">
                Following the official bid, Bermuda has been approved as the
                host of the Masters World Championship during the November ISBHF
                2024 Semi-Annual Conference.
              </p>
              <a href="#" class="btn btn-stroke">
                More {% include "@images/chevron-right.svg" %}</a
              >
            </div>
          </div>
        </article>
      </div>
    </div>
    <a href="#" target="_blank" class="w-100 d-block">
      <img
        class="object-fit-cover h-auto"
        alt="app"
        src="images/content/ban-app.png"
        sizes="
         (min-width: 1280px) 1280w
       "
        width="1280"
        height="180"
      />
    </a>
  </div>
</section>
