<div class="statsBox">
  <div
    class="d-flex flex-wrap gap-3 justify-content-between align-items-center mb-12"
  >
    <div class="statsBox__title h2">
      <img
        srcset="images/ico/stats-r.svg 22w"
        sizes="
              (min-width: 22px) 22w
            "
        width="22"
        height="18"
        alt=""
      />
      <a href="#" class="d-flex align-items-center gap-2 underline">
        Stats leaders
        <img
          srcset="images/ico/arrow-up-b.svg 13w"
          sizes="
                (min-width: 13px) 13w
              "
          width="13"
          height="13"
          alt=""
        />
      </a>
    </div>
  </div>

  <div class="statsBox__players">
    <div class="statsBox__players-row">
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">15 Points</div>
          <p>
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            David Tor
          </p>
        </div>
      </div>
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player2.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">10 Points</div>
          <p>
            <img
              srcset="images/content/cz.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            David Tor
          </p>
        </div>
      </div>
    </div>
    <div class="statsBox__players-row">
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">22 Goals</div>
          <p>
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </p>
        </div>
      </div>
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">22 Goals</div>
          <p>
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </p>
        </div>
      </div>
    </div>
    <div class="statsBox__players-row">
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">7 Assists</div>
          <p>
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </p>
        </div>
      </div>
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">7 Assists</div>
          <p>
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </p>
        </div>
      </div>
    </div>
    <div class="statsBox__players-row">
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">88,35 %</div>
          <p>
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </p>
        </div>
      </div>
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">88,35 %</div>
          <p>
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
