{% extends "@components/base/base.twig" %} {% set title = "02.0_news" %} {%
block main %}
<div class="topGradient">
  {% include "@components/header/header.twig" %}
  <section class="subpage-header">
    <div class="container">
      <h1 class="h1 titleDecore mb-3 text-light">NEWS</h1>
      {% include "@components/menuFilter/menuFilter.twig" %}
    </div>
  </section>
</div>

<main class="main" aria-label="Hlavní obsah">
  <section class="subpage">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-8">
          <div id="news-grid" class="d-flex flex-column gap-4" role="list">
            {% include "@components/newsItem/newsItem.twig" %} {% include
            "@components/newsItem/newsItem.twig" %} {% include
            "@components/newsItem/newsItem.twig" %}
          </div>
          <button
            class="btn btn-primary mx-auto mt-40 text-lg fw-medium news-load-more"
          >
            +
          </button>
        </div>
        <script>
          /**
           * DEFINE AJAX SOURCE FOR MASONRY REFERENCE
           */
          const newsSource = "/ISBHF/build/_ajax-news.json";
        </script>
        <div class="col-lg-3">
          <aside class="aside">
            <a href="#" target="_blank" class="aside__ban">
              <img
                src="images/content/aside-ban.png"
                loading="lazy"
                alt="app"
              />
            </a>
          </aside>
        </div>
      </div>
    </div>
  </section>
  {% include "@components/partnersSlider/partnersSlider.twig" %}
</main>

{% endblock %}
