{% extends "@components/base/base.twig" %} {% set title = "03.0_article" %} {%
block main %}

<div class="topGradient-2">{% include "@components/header/header.twig" %}</div>

<main class="main" aria-label="Hlavní obsah">
  {% include "@components/article-section/article-section.twig" %} {% include
  "@components/partnersSlider/partnersSlider.twig" %}
</main>
{% endblock %}
