{% extends "@components/base/base.twig" %} {% set title = "04.0_members" %} {%
block main %}
<div class="topGradient-2">{% include "@components/header/header.twig" %}</div>
<main class="main" aria-label="Hlavní obsah">
  <section class="subpage">
    <div class="container">
      <h1 class="h1 mb-lg-40 titleDecore text-uppercase">MEMBERS</h1>

      <div class="row g-3">
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/memberItem/memberItem.twig" %}
        </div>
      </div>
    </div>
  </section>
  {% include "@components/partnersSlider/partnersSlider.twig" %}
</main>
{% endblock %}
