{% extends "@components/base/base.twig" %} {% set title = "05.0_contacts" %} {%
block main %}

<section class="subpage">
  <div class="container">
    <h1 class="h1 titleDecore mb-lg-40">CONTACTS</h1>

    <div class="row g-3">
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
    </div>
  </div>
</section>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
