{% extends "@components/base/base.twig" %} {% set title = "05.0_contacts" %} {%
block main %}

<section class="subpage pt-40">
  <div class="container">
    <h1 class="h1 titleDecore mb-lg-40">CONTACTS</h1>
    <div class="row g-3 mb-5">
      <div class="col-lg-4 col-sm-6">
        <div class="contactItem">
          <h2 class="h1 mb-12 text-blue-700">General contact</h2>
          <ul class="text-sm text-blue-700 d-flex flex-column gap-1">
            <li class="d-flex gap-2 align-items-center">
              <a href="mailto:info@isbhf.com">
                {% include "@images/mail.svg" %} info@isbhf.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="contactItem">
          <h2 class="h1 mb-12 text-blue-700">ISBHF President</h2>
          <ul class="text-sm text-blue-700 d-flex flex-column gap-1">
            <li class="d-flex gap-2 align-items-center">
              <a href="mailto:president@isbhf.com">
                {% include "@images/mail.svg" %} president@isbhf.com
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="contactItem">
          <h2 class="h1 mb-12 text-blue-700">
            ISBHF Executive Director & Secretary
          </h2>
          <ul class="text-sm text-blue-700 d-flex flex-column gap-1">
            <li class="d-flex gap-2 align-items-center">
              <a href="mailto:secretary@isbhf.com">
                {% include "@images/mail.svg" %} secretary@isbhf.com
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row gx-3 gy-lg-5 gy-3 mb-5">
      <div class="col-12">
        The International Street & Ball Hockey Federation (ISBHF) is the global
        governing body of the sport of Street & Ball Hockey. The organization is
        registered in Prague, Czech Republic, as a non-profit organization (Reg.
        No. 63832992), associating national organizations from around the world.
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="contactItem">
          <h3 class="h3 mb-12 text-blue-700">Address:</h3>
          <ul class="text-sm text-blue-700 d-flex flex-column gap-1">
            <li class=" ">Zatopkova 100/2</li>
            <li class=" ">PO-BOX: 40</li>
            <li>160 17, Prague 6</li>
            <li>Czech Republic</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="contactItem">
          <h3 class="h3 mb-12 text-blue-700">E-mail:</h3>
          <ul class="text-sm text-blue-700 d-flex flex-column gap-1">
            <li class="d-flex gap-2 align-items-center">
              <a href="mailto:info@isbhf.com">
                {% include "@images/mail.svg" %} info@isbhf.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="contactItem">
          <h3 class="h3 mb-12 text-blue-700">Telephone:</h3>
          <ul class="text-sm text-blue-700 d-flex flex-column gap-1">
            <li class="d-flex gap-2 align-items-center">
              <a href="tel:+420770171409">
                {% include "@images/tel.svg" %} +420 770 171 409</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contactItem">
          <h3 class="h3 mb-12 text-blue-700">For payments in EUR</h3>

          <ul class="text-sm text-blue-700 d-flex flex-column gap-1">
            <li class=" ">
              Account owner: Mezinarodni hokejbalova asociace, Zatopkova 100/2,
              PO Box 40, 160 17 Prague 6, Czech Republic
            </li>
            <li class=" ">
              Name of the bank: MONETA Money Bank, Vitezne namesti 2, Prague 6,
              160 00, Czech Republic
            </li>
            <li>SWIFT-no.: AGBACZPP</li>
            <li>IBAN: CZ25 0600 0000 0002 1668 3015</li>
            <li>Number of the account: 216683015</li>
            <li>Code of the bank: 0600</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contactItem">
          <h3 class="h3 mb-12 text-blue-700">For payments in CZK</h3>
          <ul class="text-sm text-blue-700 d-flex flex-column gap-1">
            <li>
              Account owner: Mezinarodni hokejbalova asociace, Zatopkova 100/2,
              PO Box 40, 160 17 Prague 6, Czech Republic
            </li>
            <li>
              Name of the bank: MONETA Money Bank, Vitezne namesti 2, Prague 6,
              160 00, Czech Republic
            </li>
            <li>SWIFT-no.: AGBACZPP</li>
            <li>IBAN: CZ28 0600 0000 0002 1668 3058</li>
            <li>Number of the account: 216683058</li>
            <li>Code of the bank: 0600</li>
          </ul>
        </div>
      </div>
    </div>
    <h3 class="h2 mb-3">Media</h3>
    <div class="row g-3 mb-5">
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
    </div>
    <h3 class="h2 mb-3">Accrediation</h3>
    <div class="row g-3">
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-lg-4 col-sm-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
    </div>
  </div>
</section>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
