{% extends "@components/base/base.twig" %} {% set title = "06.0_partners" %} {%
block main %}
<div class="topGradient-2">{% include "@components/header/header.twig" %}</div>
<main class="main" aria-label="Hlavní obsah">
  <section class="subpage">
    <div class="container">
      <h1 class="h1 titleDecore mb-lg-40">PARTNERS</h1>

      <h2 class="h2 mb-3">General partners</h2>
      <ul class="partners-section">
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-1.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-2.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-3.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-4.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-5.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
      </ul>
      <h3 class="h2 mb-3 mt-56">Gold partners</h3>
      <ul class="partners-section">
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-1.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-2.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-3.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-4.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-5.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-2.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-3.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-4.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
      </ul>
      <h4 class="h2 mb-3 mt-56">Silver partners</h4>
      <ul class="partners-section">
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-1.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-2.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-3.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-4.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-5.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-2.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-4.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-3.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-1.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-1.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-2.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-3.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-4.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-5.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-2.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-4.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-3.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img
              src="images/content/pp-1.png"
              loading="lazy"
              height="118"
              width="200"
              alt=""
            />
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>

{% endblock %}
