{% extends "@components/base/base.twig" %} {% set title = "06.0_partners" %} {%
block main %}

<section class="subpage">
  <div class="container">
    <h1 class="h1 titleDecore mb-lg-40">PARTNERS</h1>
    <ul class="partners-section">
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-1.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-2.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-3.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-4.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-5.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-2.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-4.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-3.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-1.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-1.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-2.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-3.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-4.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-5.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-2.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-4.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-3.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img
            src="images/content/pp-1.png"
            loading="lazy"
            height="118"
            width="200"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
