{% extends "@components/base/base.twig" %} {% set title = "08.0_videogallery" %}
{% block main %}
<div class="topGradient">
  {% include "@components/header/header.twig" %}
  <section class="subpage-header">
    <div class="container">
      <h1 class="h1 titleDecore mb-3 text-light text-uppercase">Video</h1>

      <form class="menuFilter">
        <ul class="menuCategories" role="tablist">
          <li>
            <button
              name="category"
              value="all"
              class="active"
              role="tab"
              aria-selected="true"
            >
              All
            </button>
          </li>
          <li>
            <button name="category" value="1" role="tab">
              <img
                srcset="images/content/event-2.png 16w"
                width="16"
                height="16"
                loading="lazy"
                alt="logo"
              />
              Poprad 2025
            </button>
          </li>
          <li>
            <button name="category" value="2" role="tab">
              <img
                srcset="images/content/event-1.png 16w"
                width="16"
                height="16"
                loading="lazy"
                alt="logo"
              />Hradec 2025
            </button>
          </li>
          <li>
            <button name="category" value="1" role="tab">
              <img
                srcset="images/content/event-3.png 16w"
                width="16"
                height="16"
                loading="lazy"
                alt="logo"
              />
              Poprad 2025
            </button>
          </li>
          <li>
            <button name="category" value="2" role="tab">
              <img
                srcset="images/content/event-1.png 16w"
                width="16"
                height="16"
                loading="lazy"
                alt="logo"
              />Hradec 2025
            </button>
          </li>
        </ul>
        <input type="text" placeholder="Search" />
        <!-- hidden input to keep current category value if query search -->
        <input type="hidden" name="category" value="1" />
      </form>
    </div>
  </section>
</div>

<main class="main" aria-label="Hlavní obsah">
  <section class="subpage">
    <div class="container">
      <div class="row g-4" id="video-grid">
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include "@components/videoItem/videoItem.twig" %}
        </div>
      </div>
      <div
        class="modal fade"
        id="modalVideoToggle"
        aria-hidden="true"
        aria-labelledby="modalVideoLabel"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/-6xNMzouiAM?si=muepwU1sToYnqndX"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary mx-auto mt-40 text-lg fw-medium video-load-more"
      >
        +
      </button>
    </div>
  </section>
  <script>
    /**
     * DEFINE AJAX SOURCE FOR MASONRY REFERENCE
     */
    const videoSource = "/ISBHF/build/_ajax-video.json";
  </script>
  {% include "@components/partnersSlider/partnersSlider.twig" %}
</main>
{% endblock %}
