{% extends "@components/base/base.twig" %} {% set title = "09.0_static" %} {%
block main %}

<div class="topGradient-2">{% include "@components/header/header.twig" %}</div>

<main class="main" aria-label="Hlavní obsah">
  <section class="subpage">
    <div class="container">
      <h1 class="h1 titleDecore mb-3">Static Page</h1>
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div class="o-content">
            <p>
              Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
              adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
              odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu
              premieta sila tímovej spolupráce a individuálnej brilancie. Hoci
              hokej má svoje korene v ďalekej minulosti, stále si udržiava svoju
              jedinečnú príťažlivosť a popularitu.
            </p>
            <div class="text-sm text-accent mb-20 mt-56">Historie</div>
            <h3>Hráčska brilancia a vášeň pre hokej</h3>
            <ul>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
            </ul>
            <div class="text-sm text-accent mb-20 mt-56">Hráči</div>
            <h3>Hráčska brilancia a vášeň pre hokej</h3>
            <p>
              Hokej sa môže pyšniť hviezdami, ktoré svojou brilanciou a
              zručnosťami dokážu ohromiť nielen fanúšikov, ale aj odborníkov.
              Spôsob, akým hráči dokážu ovládať puk, vykonávať rôzne finty a
              strieľať presné strely, je fascinujúci. Každý hráč má svoj
              jedinečný štýl a prístup k hre, čo hokej činí taký rozmanitý a
              neustále sa vyvíjajúci.
            </p>
            <p>
              Hokejoví fanúšikovia sú srdcervúcou súčasťou tejto hry. Ich vášeň,
              podpora a oddanosť tímu sú nezabudnuteľné. Hráči na ľade cítia
              energiu fanúšikov a tá im dodáva silu a motiváciu vydať zo seba
              maximum. Atmosféra na štadiónoch je nákazlivá a dodáva hre
              špeciálnu čar.
            </p>
            <img
              srcset="
                https://picsum.photos/1472/1178 1472w,
                https://picsum.photos/1200/640  1200w
              "
              sizes="
             (min-width: 1200) 736w
          
           "
              class="mb-56 mt-56 rounded-3 mx-auto"
              width="1200"
              height="640"
              alt=""
            />
            <div class="text-sm text-accent mb-20 mt-56">Hráči</div>
            <h3>Hráčska brilancia a vášeň pre hokej</h3>
            <p>
              Hokej sa môže pyšniť hviezdami, ktoré svojou brilanciou a
              zručnosťami dokážu ohromiť nielen fanúšikov, ale aj odborníkov.
              Spôsob, akým hráči dokážu ovládať puk, vykonávať rôzne finty a
              strieľať presné strely, je fascinujúci. Každý hráč má svoj
              jedinečný štýl a prístup k hre, čo hokej činí taký rozmanitý a
              neustále sa vyvíjajúci.
            </p>
            <p>
              Hokejoví fanúšikovia sú srdcervúcou súčasťou tejto hry. Ich vášeň,
              podpora a oddanosť tímu sú nezabudnuteľné. Hráči na ľade cítia
              energiu fanúšikov a tá im dodáva silu a motiváciu vydať zo seba
              maximum. Atmosféra na štadiónoch je nákazlivá a dodáva hre
              špeciálnu čar.
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <aside class="aside">
            <div class="mb-4">
              <a href="#" class="aside__post">
                <div class="aside__post-content">
                  <ul class="tags text-gray-200 mb-12">
                    <li>{% include "@images/isbhf-world.svg" %} News</li>
                    <li>November 17, 2024</li>
                  </ul>
                  <h3 class="text-lg text-light">
                    2024 ISBHF Men’s World Championsip – Recap
                  </h3>
                </div>
                <img
                  srcset="
                    https://picsum.photos/604/400 604w,
                    https://picsum.photos/302/200 302w
                  "
                  sizes="
                 (min-width: 302px) 302px
               "
                  width="302"
                  height="200"
                  alt=""
                />
              </a>
            </div>
            <div class="mb-4">
              <a href="#" class="aside__post">
                <div class="aside__post-content">
                  <ul class="tags text-gray-200 mb-12">
                    <li>{% include "@images/isbhf-world.svg" %} News</li>
                    <li>November 17, 2024</li>
                  </ul>
                  <h3 class="text-lg text-light">
                    2024 ISBHF Men’s World Championsip – Recap
                  </h3>
                </div>
                <img
                  srcset="
                    https://picsum.photos/604/400 604w,
                    https://picsum.photos/302/200 302w
                  "
                  sizes="
                 (min-width: 302px) 302px
               "
                  width="302"
                  height="200"
                  alt=""
                />
              </a>
            </div>
            <div class="mb-4">
              <a href="#" class="aside__post">
                <div class="aside__post-content">
                  <ul class="tags text-gray-200 mb-12">
                    <li>{% include "@images/isbhf-world.svg" %} News</li>
                    <li>November 17, 2024</li>
                  </ul>
                  <h3 class="text-lg text-light">
                    2024 ISBHF Men’s World Championsip – Recap
                  </h3>
                </div>
                <img
                  srcset="
                    https://picsum.photos/604/400 604w,
                    https://picsum.photos/302/200 302w
                  "
                  sizes="
                 (min-width: 302px) 302px
               "
                  width="302"
                  height="200"
                  alt=""
                />
              </a>
            </div>
            <a href="#" target="_blank" class="aside__ban">
              <img
                src="images/content/aside-ban.png"
                loading="lazy"
                alt="app"
              />
            </a>
          </aside>
        </div>
      </div>
    </div>
  </section>

  {% include "@components/partnersSlider/partnersSlider.twig" %}
</main>
{% endblock %}
