{% extends "@components/base/base.twig" %} {% set title = "11.0_tournaments" %}
{% block main %}
<div class="topGradient">
  {% include "@components/header/header.twig" %}
  <section class="subpage-header">
    <div class="container">
      <h1 class="h1 titleDecore mb-3 text-light text-uppercase">Tournaments</h1>
      <form class="menuFilter mb-0">
        <ul class="menuCategories" role="tablist">
          <li>
            <button
              name="category"
              value="all"
              class="active"
              role="tab"
              aria-selected="true"
            >
              All
            </button>
          </li>
          <li>
            <button name="category" value="1" role="tab">2025</button>
          </li>
          <li>
            <button name="category" value="2" role="tab">2024</button>
          </li>
          <li>
            <button name="category" value="3" role="tab">2023</button>
          </li>
        </ul>
        <input type="text" placeholder="Search" />
        <!-- hidden input to keep current category value if query search -->
        <input type="hidden" name="category" value="1" />
      </form>
    </div>
  </section>
</div>
<main class="main" aria-label="Hlavní obsah">
  <section class="subpage">
    <div class="container">
      <h2 class="h1 mb-3">2025</h2>
      <div class="row g-4">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-1.png"
                sizes="
                (min-width: 132px) 132w
              "
                width="132"
                height="132"
              />
              <h4 class="h3">
                U20 Men’s <br />
                U20 Women’s
              </h4>
            </a>

            <div class="eventsSlider__item-footer">
              July 2–6, 2025

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-2.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">35+ Masters</h4>
            </a>

            <div class="eventsSlider__item-footer">
              November 11–16, 2025
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-3.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">Men’s & Women’s</h4>
            </a>

            <div class="eventsSlider__item-footer">
              June 20–28, 2026

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-1.png"
                sizes="
                (min-width: 132px) 132w
              "
                width="132"
                height="132"
              />
              <h4 class="h3">
                U20 Men’s <br />
                U20 Women’s
              </h4>
            </a>

            <div class="eventsSlider__item-footer">
              July 2–6, 2025

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-2.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">35+ Masters</h4>
            </a>

            <div class="eventsSlider__item-footer">
              November 11–16, 2025
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-3.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">Men’s & Women’s</h4>
            </a>

            <div class="eventsSlider__item-footer">
              June 20–28, 2026

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
      </div>
      <h2 class="h1 mb-3 mt-56">2024</h2>
      <div class="row g-4">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-1.png"
                sizes="
                (min-width: 132px) 132w
              "
                width="132"
                height="132"
              />
              <h4 class="h3">
                U20 Men’s <br />
                U20 Women’s
              </h4>
            </a>

            <div class="eventsSlider__item-footer">
              July 2–6, 2025

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-2.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">35+ Masters</h4>
            </a>

            <div class="eventsSlider__item-footer">
              November 11–16, 2025
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-3.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">Men’s & Women’s</h4>
            </a>

            <div class="eventsSlider__item-footer">
              June 20–28, 2026

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
      </div>
      <h2 class="h1 mb-3 mt-56">2023</h2>
      <div class="row g-4">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-1.png"
                sizes="
                (min-width: 132px) 132w
              "
                width="132"
                height="132"
              />
              <h4 class="h3">
                U20 Men’s <br />
                U20 Women’s
              </h4>
            </a>

            <div class="eventsSlider__item-footer">
              July 2–6, 2025

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-2.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">35+ Masters</h4>
            </a>

            <div class="eventsSlider__item-footer">
              November 11–16, 2025
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-3.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">Men’s & Women’s</h4>
            </a>

            <div class="eventsSlider__item-footer">
              June 20–28, 2026

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-1.png"
                sizes="
                (min-width: 132px) 132w
              "
                width="132"
                height="132"
              />
              <h4 class="h3">
                U20 Men’s <br />
                U20 Women’s
              </h4>
            </a>

            <div class="eventsSlider__item-footer">
              July 2–6, 2025

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-2.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">35+ Masters</h4>
            </a>

            <div class="eventsSlider__item-footer">
              November 11–16, 2025
              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="eventsSlider__item bg-white">
            <a href="#" class="eventsSlider__item-content">
              <img
                class="h-auto"
                alt="app"
                src="images/content/event-3.png"
                sizes="
               (min-width: 132px) 132w
             "
                width="132"
                height="132"
              />
              <h4 class="h3">Men’s & Women’s</h4>
            </a>

            <div class="eventsSlider__item-footer">
              June 20–28, 2026

              <a href="#" class="btn btn-stroke mt-12">
                Detail {% include "@images/chevron-right.svg" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "@components/partnersSlider/partnersSlider.twig" %}
</main>

{% endblock %}
