{% extends "@components/base/base.twig" %} {% set title = "14.0_awards" %} {%
block main %}
<div class="topGradient-2">{% include "@components/header/header.twig" %}</div>

<main class="main" aria-label="Hlavní obsah">
  <section class="subpage">
    <div class="container">
      <h1 class="h1 titleDecore mb-lg-40">Individual awards</h1>

      <div class="row gx-3 gy-lg-5 gy-3 mb-5">
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">Best scorer:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">Best Forward:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">Best defenceman:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">Best goalkeeper:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">MVP:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h2 class="h2 mb-3">All star team</h2>
      <div class="row gx-3 gy-lg-5 gy-3 mb-5">
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">all star team - goalkeeper:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">all star team - player:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">all star team - player:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">all star team - player:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">all star team - player:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="contactItem">
            <h3 class="h4 text-accent mb-2">all star team - player:</h3>
            <h5 class="h2 mb-2">Jan Čejka</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />Czechia
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "@components/partnersSlider/partnersSlider.twig" %}
</main>
{% endblock %}
